recursive-include base_theme/static *
recursive-include base_theme/templates *
recursive-include base_theme/static *.html *.png *.gif *js *jpg *jpeg *svg *py
recursive-include base_theme/templates *.html *.png *.gif *js *jpg *jpeg *svg *py
