recursive-include base_theme/static *
recursive-include base_theme/templates *
recursive-include base_theme/static *.css *.scss *.html *.png *.gif *js *jpg *jpeg *svg *py *.ico
recursive-include base_theme/templates *.html
