<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <title>{% block title %}Your App Name Here{% endblock title %}</title>
    <!-- Bootstrap Styles -->
    {% bootstrap_css %}
     <!-- Custom Styles -->
    <link href="{% static "scss/compiled_css/all.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "scss/compiled_css/custom.css" %}" rel="stylesheet" type="text/css">
    <!-- Place modernizer.js inside <head> -->
    <script src="{% static "js/vendor/modernizr.min.js" %}"></script>
    <!--[if lt IE 9]>
    	<script src="{% static "js/vendor/respond.min.js" %}"></script>
    <![endif]-->
  </head>
<body>
  <!--[if lt IE 7]>
   <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
    Please <a href="http://browsehappy.com/">upgrade your browser</a> 
    to improve your experience.
  </p>
  <![endif]-->
  
  <header id="header" role="heading">
		 {% include "header.html" %}
  </header><!-- /end header -->
    
  <main id="content" role="main">
		 {% include "left_sidebar.html" %}
		 <!-- <div id="push"></div> Sticky Footer. Remember to include the 
		 sticky footer scss in the all.scss file -->
  </main><!--/ end main content -->
  
  <footer id="footer">
    {% include "footer.html" %}
  </footer><!--/ end footer -->		
  
  <!-- Core JS
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static "js/vendor/jquery.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/plugins.js" %}"></script>
  <script src="{% static "js/custom.js" %}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>