{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h5>WRDS Classroom Tools</h5>
      <ul>
        <li><a href="http://executivemba.wharton.upenn.edu/">Home</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/admissions/">Admissions</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/the-experience/">The Experience</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/financing-your-mba/">Financing Your MBA</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>&nbsp;</h5>
      <ul>
        <li><a href="http://executivemba.wharton.upenn.edu/program-details/">Program Details</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/academics/">Academics</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/your-career/">Your Career</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/admissions/applying-deadlines/">Apply</a></li>
      </ul>
    </div>
    <div class="col-md-2 wharton">
      <h5>Wharton</h5>
      <ul>
        <li><a href="http://www.wharton.upenn.edu/">Home</a></li>
        <li><a href="http://news.wharton.upenn.edu/">News</a></li>
        <li><a href="http://www.wharton.upenn.edu/contact-us-directories.cfm">Contact Wharton</a></li>
        <li><a href="http://www.wharton.upenn.edu/locations/locations.cfm">Locations</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Featured Links</h5>
      <ul>
        <li><a href="http://executivemba.wharton.upenn.edu/events">Attend an Admissions Event</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/blog/">Read our Blog</a></li>
        <li><a href="http://executivemba.wharton.upenn.edu/admissions/contact-us/">Contact Wharton Executive MBA</a></li>
      </ul>
    </div>
    <div class="col-md-2 social">
      <ul class="social-icons">
        <li class="facebook-icon"><a href="https://www.facebook.com/whartonexecutiveMBA"><img src="{% static "img/social/facebook-icon.png" %}" width="29" height="29" alt="Facebook"></a></li>
        <li class="twitter-icon"><a href="https://twitter.com/wharton_emba"><img src="{% static "img/social/twitter-icon.png" %}" width="29" height="29" alt="Twitter"></a></li>
        <li class="googleplus-icon"><a href="https://plus.google.com/u/0/102787439244205864419/posts"><img src="{% static "img/social/googleplus-icon.png" %}" width="29" height="29" alt="Google+"></a></li>
        <li class="youtube-icon"><a href="https://www.youtube.com/user/WhartonExecutiveMBA"><img src="{% static "img/social/youtube-icon.png" %}" width="29" height="29" alt="YouTube"></a></li>
        <li class="flickr-icon"><a href="https://www.flickr.com/photos/whartonexecutivemba/"><img src="{% static "img/social/flickr-icon.png" %}" width="29" height="29" alt="Flickr"></a></li>
      </ul>
      <!-- .social-icons -->	
      <div id="knowledge">
        <a href="http://www.wharton.upenn.edu/about/knowledge-for-action.cfm">
        <img src="{% static "img/footer/knowledge-for.png" %}"/>
        </a>
      </div>
    </div>
  </div><!--/ end row -->
  <div class="col-md-2 wharton mobile">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact Wharton</a></li>
      <li><a href="#">Locations</a></li>
    </ul>
  </div>
  <div class="row copyright">
    <a href="http://upenn.edu"><img src="{% static "img/footer/Penn-footer-logo.png" alt="UPenn Logo" %}"/></a>
    <p>&copy; 2014 <a href="http://www.wharton.upenn.edu/">The Wharton School,</a> <a href="http://www.upenn.edu">The University of Pennsylvania</a><span class="mba">|<a href="http://executivemba.wharton.upenn.edu/">Wharton Executive MBA</a></span></p>
  </div>
</div><!--/ end container -->